---
import Blog from "../../layouts/Blog.astro";

const posts = await Astro.glob("./*.{md,mdx}");
---

<Blog title="Blog" description="Mehmet Burak Erman's Blog">
  <ul class="blog-posts-list">
    {
      posts.map(({ frontmatter, url }) => (
        <li>
          <a href={url} transition:name={frontmatter.title}>
            {frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</Blog>
