---
import Subtitle from "./Subtitle.astro";
---

<section class="mb-10">
  <Subtitle title="About" iconSrc="img/tombstone.svg" />

  <span>
    <a
      href="/CV.pdf?v=1.16"
      target="_blank"
      rel="external"
      class="text-slate-50 underline-offset-4 hover:underline">Viev my CV</a
    >
  </span>
</section>
