---
import Subtitle from "./Subtitle.astro";
---

<section class="mb-10">
  <Subtitle title="Blog" iconSrc="img/candle-holder.svg" />

  <ul class="space-y-3 list-disc list-inside text-slate-50">
    <li>
      <a
        href="/blog/web-rendering-patterns"
        class="underline-offset-4 hover:underline text-sm font-mono"
      >
        Web Rendering Patterns
      </a>
    </li>
    <li>
      <a
        href="/blog/server-side-react-rendering"
        class="underline-offset-4 hover:underline text-sm font-mono"
      >
        Server Side React Rendering
      </a>
    </li>
  </ul>
</section>
