---
import type { Frontmatter } from "../layouts/Blog.astro";
import Subtitle from "./Subtitle.astro";
import CandleHolderIcon from "./icons/CandleHolderIcon.astro";

export type BlogPost = {
  title: string;
  description: string;
  frontmatter?: Frontmatter;
  url: string;
};

const blogPosts = await Astro.glob<BlogPost>("../pages/blog/*.{md,mdx}");
---

<section class="mb-10">
  <Subtitle title="Blog">
    <CandleHolderIcon />
  </Subtitle>

  <ul class="list-inside list-disc space-y-3 text-slate-50">
    {
      blogPosts.map(({ url, frontmatter }) => {
        return url ? (
          <li transition:name={frontmatter?.title}>
            <a
              href={url}
              class="font-mono text-sm underline-offset-4 hover:underline"
            >
              {frontmatter?.title}
            </a>
          </li>
        ) : null;
      })
    }
  </ul>
</section>
