---
import { Github, Codepen, Mail, Twitter, Linkedin } from "lucide-astro";
import BatsIcon from "./icons/BatsIcon.astro";
---

<section class="mb-10">
  <div class="group flex items-center text-slate-50">
    <BatsIcon />
    <a
      href="https://github.com/mburakerman"
      title="Github"
      target="_blank"
      rel="external"
      class="flex rounded-md border border-transparent p-1.5 transition-colors hover:border-slate-700"
    >
      <Github class="h-5 w-5" />
    </a>
    <a
      href="https://codepen.io/mburakerman/"
      title="Codepen"
      target="_blank"
      rel="external"
      class="flex rounded-md border border-transparent p-1.5 transition-colors hover:border-slate-700"
    >
      <Codepen class="h-5 w-5" />
    </a>
    <a
      href="https://twitter.com/mburakerman"
      title="Twitter"
      target="_blank"
      rel="external"
      class="flex rounded-md border border-transparent p-1.5 transition-colors hover:border-slate-700"
    >
      <Twitter class="h-5 w-5" />
    </a>
    <a
      href="https://linkedin.com/in/mburakerman/"
      title="Linkedin"
      target="_blank"
      rel="external"
      class="flex rounded-md border border-transparent p-1.5 transition-colors hover:border-slate-700"
    >
      <Linkedin class="h-5 w-5" />
    </a>
    <a
      href="mailto:mburakerman@gmail.com"
      title="Email"
      class="flex rounded-md border border-transparent p-1.5 transition-colors hover:border-slate-700"
    >
      <Mail class="h-5 w-5" />
    </a>
  </div>
</section>
