---
const currentYear = new Date().getFullYear();
---

<footer
  class="flex items-center justify-between text-xs text-slate-500 mt-28 py-4 border-solid border-t-[1px] border-slate-700 font-mono transition hover:text-slate-300"
>
  <div>
    &copy;
    <span>{currentYear}</span> Mehmet Burak Erman
  </div>

  <div>
    <img
      class="w-7 h-7 cursor-pointer transition hover:translate-y-[-2px"
      src="img/hand.svg"
      loading="lazy"
      alt="hand"
      title="Scroll to top"
      onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
    />
  </div>
</footer>
