---
import HandIcon from "@/components/icons/HandIcon.astro";
const currentYear = new Date().getFullYear();
---

<footer
  class="mt-28 flex items-center justify-between border-t-[1px] border-solid border-slate-700 py-4 font-mono text-xs text-slate-500"
>
  <div class="transition hover:text-slate-300">
    &copy;
    <span>{currentYear}</span> Mehmet Burak Erman
  </div>

  <div>
    <button
      title="Scroll to top"
      onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
    >
      <HandIcon />
    </button>
  </div>
</footer>
