---
import Subtitle from "./Subtitle.astro";
import { ArrowUpRight } from "lucide-astro";
import BroomIcon from "./icons/BroomIcon.astro";

const projects = [
  {
    title: "moonlightai",
    link: "https://moonlightai.art/",
    description: "AI Painting Generator.",
  },
  {
    title: "Emoji Snake",
    link: "https://emoji-snake.vercel.app/",
    description: "A snake game.",
  },
  {
    title: "react-sparkly-text",
    link: "https://mburakerman.github.io/react-sparkly-text/",
    description: "Sparkle your texts.",
  },
  {
    title: "Reactplosive Modal",
    link: "https://mburakerman.github.io/reactplosive-modal/",
    description: "A simple React modal component with an explosion effect.",
  },
  {
    title: "Bongo Cat Typing",
    link: "https://chromewebstore.google.com/detail/bongo-cat-typing/nejbhaabfihgocbacojonoekogiklfja",
    description: "Let Bongo Cat accompany you while you are typing.",
  },
  {
    title: "Mackernews",
    link: "https://mburakerman.github.io/mackernews/",
    description:
      "A tiny Mac menu bar app that enables you to quickly access the latest and most popular Hacker News stories.",
  },
  {
    title: "cambridge-cli",
    link: "https://github.com/mburakerman/cambridge-cli/",
    description: "Terminal dictionary for English learners.",
  },
  {
    title: "ColorToPng",
    link: "https://mburakerman.github.io/colortopng/",
    description: "Solid & Gradient PNG generator.",
  },
  {
    title: "Tensorflowjs Webcam Transfer Learning",
    link: "https://mburakerman.github.io/tensorflowjs-webcam-transfer-learning/",
    description: "Predict poses from a webcam using transfer learning.",
  },
  {
    title: "Basic Login Page",
    link: "https://codepen.io/mburakerman/full/VwLraqj/",
    additionalLinks: [
      "https://codepen.io/mburakerman/full/XWbaRGm/",
      "https://mburakerman.github.io/badass-log-in-ui/",
    ],
    description: "Some intentionally bad user interfaces.",
  },
];
---

<section class="mb-10">
  <Subtitle title="Featured Projects">
    <BroomIcon />
  </Subtitle>

  <ul
    id="projectsList"
    class="grid grid-cols-1 gap-3 print:grid-cols-3 print:gap-2 md:grid-cols-2"
  >
    {
      projects.map(({ title, description, link }) => {
        return (
          <li class="_project-list-item_ bg-card text-card-foreground border-muted relative flex flex-col overflow-hidden rounded-lg border border-slate-700 p-3">
            <div>
              <a
                href={link}
                target="_blank"
                rel="external"
                class="group mb-3 flex max-w-[max-content] items-center text-base font-semibold tracking-tight text-slate-50 no-underline"
              >
                {title}{" "}
                <ArrowUpRight class="ml-1 h-4 w-4 transition group-hover:translate-x-[2px] group-hover:translate-y-[-2px]" />
              </a>
              <p class="font-mono text-xs text-slate-400">{description}</p>
            </div>
          </li>
        );
      })
    }
  </ul>
</section>

<script is:inline>
  document.addEventListener(
    "astro:page-load",
    () => {
      const projectsListEl = document.getElementById("projectsList");

      projectsListEl?.addEventListener("pointermove", (event) => {
        const { x, y } = event;
        projectsListEl.style.setProperty("--x", x.toString());
        projectsListEl.style.setProperty("--y", y.toString());
      });
    },
    { once: true },
  );
</script>

<style>
  ._project-list-item_:before {
    content: "";
    position: absolute;
    inset: 0px;
    background: radial-gradient(
        at calc(var(--x) * 1px) calc(var(--y) * 1px),
        hsl(0 0% 100% / 0.85),
        transparent 15vmin
      ),
      transparent;
    background-attachment: fixed;
    mask:
      linear-gradient(white, white) 50% 0 / 100% 1.5px no-repeat,
      linear-gradient(white, white) 50% 100% / 100% 1.5px no-repeat,
      linear-gradient(white, white) 0 50% / 1.5px 100% no-repeat,
      linear-gradient(white, white) 100% 50% / 1.5px 100% no-repeat;
    pointer-events: none;
  }
</style>
