---
import Head from "../components/Head.astro";
import { ArrowLeft, Calendar } from "lucide-astro";
import CandleHolderIcon from "../components/icons/CandleHolderIcon.astro";

export type Frontmatter = {
  title?: string;
  description?: string;
  date?: string;
};

export type Props = {
  title: string;
  description: string;
  frontmatter?: Frontmatter;
};

const { frontmatter, title, description } = Astro.props;
const isDetailPage = frontmatter?.date;
---

<html lang="en">
  <Head
    title={frontmatter?.title || title}
    description={frontmatter?.description || description}
  />

  <style is:global>
    .blog-article p {
      @apply mb-6 text-sm;
    }
    .blog-article a {
      @apply underline underline-offset-2;
    }
    .blog-article ul {
      @apply mb-2 pl-3;
    }

    .blog-article code {
      @apply font-mono text-cyan-300;
    }
    .blog-article ul li {
      @apply mb-3 list-disc text-sm;
    }

    .blog-article h2 {
      @apply mb-5 mt-10 flex items-center text-xl font-semibold;
    }
    .blog-article h2 img {
      @apply ml-2 mr-1 h-5 max-w-20 object-contain;
    }
    .credits li a {
      @apply text-xs;
    }
  </style>

  <body>
    <div class="container relative mx-auto my-5 max-w-4xl overflow-auto p-4">
      <article class="blog-article w-100 text-slate-50">
        <h1
          transition:name={frontmatter?.title}
          transition:animate="fade"
          class="mb-4 flex items-center text-2xl font-bold"
        >
          {!isDetailPage && <CandleHolderIcon />}
          {frontmatter?.title || title}
        </h1>

        {
          frontmatter?.date && (
            <p>
              <time class="mb-10 flex items-center text-xs text-slate-500">
                <Calendar class="mr-1 h-3 w-3 font-thin" /> {frontmatter?.date}
              </time>
            </p>
          )
        }

        <slot />
      </article>

      <a
        href="/"
        class="group mb-10 mt-16 flex items-center text-sm text-slate-50"
      >
        <ArrowLeft
          class="relative mr-1 h-4 w-4 transition group-hover:-translate-x-1"
        />
         Back to Home
      </a>
    </div>
  </body>
</html>
