---
import Head from "../components/Head.astro";
import { ArrowLeft, Calendar } from "lucide-astro";
import CandleHolderIcon from "../components/icons/CandleHolderIcon.astro";

export type Frontmatter = {
  title?: string;
  description?: string;
  date?: string;
};
export type Props = {
  title: string;
  description: string;
  frontmatter?: Frontmatter;
};

const { frontmatter, title, description } = Astro.props;
const isDetailPage = frontmatter?.date;
---

<html lang="en">
  <Head
    title={frontmatter?.title || title}
    description={frontmatter?.description || description}
  />

  <style is:global>
    .blog-article p {
      @apply mb-6 text-sm;
    }
    .blog-article a {
      @apply underline underline-offset-2;
    }
    .blog-article ul {
      @apply mb-2 pl-3;
    }

    .blog-article code {
      @apply text-cyan-300 font-mono;
    }
    .blog-article ul li {
      @apply mb-3 list-disc text-sm;
    }

    .blog-article h2 {
      @apply flex items-center text-xl mb-5 mt-10 font-semibold;
    }
    .blog-article h2 img {
      @apply h-5 max-w-20 ml-2 mr-1 object-contain;
    }
    .credits li a {
      @apply text-xs;
    }
  </style>

  <body>
    <div class="container relative mx-auto my-5 overflow-auto p-4 max-w-4xl">
      <article class="blog-article text-slate-50 w-100">
        <h1
          transition:name={frontmatter?.title}
          transition:animate="fade"
          class="flex items-center text-2xl font-bold mb-4"
        >
          {!isDetailPage && <CandleHolderIcon />}
          {frontmatter?.title || title}
        </h1>

        {
          frontmatter?.date && (
            <p>
              <time class="text-slate-500 text-xs flex items-center mb-10">
                <Calendar class="w-3 h-3 font-thin mr-1" /> {frontmatter?.date}
              </time>
            </p>
          )
        }

        <slot />
      </article>

      <a
        href="/"
        class="flex items-center mt-16 mb-10 text-slate-50 text-sm group"
      >
        <ArrowLeft
          class="w-4 h-4 mr-1 relative transition group-hover:-translate-x-1"
        />
         Back to Home
      </a>
    </div>
  </body>
</html>
